html, body {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: x-large;
    font-weight: 600;
    margin-bottom: 0.7em;
}

h2 {
    font-size: large;
    font-weight: 600;
    margin-bottom: 0.7em;
}

h3 {
    font-weight: 600;
    margin-bottom: 0.5em;
}

p {
    line-height: 1.2;
}

td {
    padding: 0.25rem;
}

nav a {
    color: #000000;
    text-decoration: none;
}

pre {
    font-family: monospace;
    color: #efefef;
    background-color: #000000 !important;
    padding: 1em;
    line-height: 1.3;
    border-radius: 0.5em;
    border: 2px solid #6E6E6E;
    overflow-x: auto;
    margin-bottom: 1em;
}

table, tbody, th, td {
    padding: 0.5em;
}

tr:nth-child(even) {
    background-color: #efefef;
}

#content {
    max-width: 80%;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
}

#logomark {
    font-weight: 800;
}

#nav {
    background-color: #e0e0e0;
    width: 100%;
}

.box {
    padding: 1em;
    border: 1px solid black;
    border-radius: 4px;
    width: auto;
    height: auto;
}

.center {
    text-align: center;
}

.background {
    background-color: #7e7e7e;
}

.button {
    color: #000000;
    display: inline-block;
    background-color: #dddddd;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 100ms linear;
    margin: 0.25em;
}

.button:hover {
    background-color: #eeeeee;
    transition: background-color 100ms linear;
}

.foreground {
    background-color: #f9f9f9;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-container {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.flex-item {
    padding: 1em;
}

.flex-max {
    flex-grow: 1;
}

.flex-less {
    flex-shrink: 3;
}

.full-height {
    height: 100%;
}

.nav-header {
    font-weight: 475;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 0.25em;
}

.nav-container {
    display: inline-block;
    position: relative;
}

.nav-dropdown {
    display: none;
    position: absolute;
    background-color: #dddddd;
    border: 2px black solid;
}

.nav-container:hover .nav-dropdown {
    display: block;
}

.nav-item {
    text-decoration: none;
    display: inline-block;
    padding: 0.5em;
    min-width: 160px;
    transition: background-color 100ms linear;
}

.nav-item:hover {
    background-color: #eeeeee;
    transition: background-color 100ms linear;
}

@media print {
    body {
        font-size: small;
    }

    .button {
        display: none;
    }

    .noprint {
        display: none;
    }

    .page {
        height: 100vh;
        width: 100vw;
        column-rule: none;
        break-after: page;
    }

    .max-height {
        height: 100vh;
    }
}
